{% extends "base.html" %} {% block content %}
<h1 class="title">Notes Organizer</h1>
<h4>by Darya Vasilchyk</h4>
<div>
  Aplikacja webowa do przechowywania szyfrowanych(lub nie) notatek. Użytkownik
  może udostępnić notatki publicznie lub wybranym użytkownikom. Notatki z każdej
  kategorii (prywatne, udostępnionie danemu użytkownikowi, publiczne) znajdują
  się w odpowiednich sekcjach(Your notes, Notes shared to you, Public notes). W
  "Your notes" wyświetlany jest tytuł notatki wraz z jej treścią, natomiast w
  pozostałych sekcjach dodatkowo wyświetlany jest autor notatki. Żeby dodać nową
  notatkę trzeba wybrać opcję [+ Add note].
</div>

{% endblock %}
